@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /*background: #eee;*/
    font-family: 'Poppins', sans-serif;
    background-color: #002733;
}

.topBar h1 {
    color: #fff;
    font-size: 29px;
    font-family: "Cedarville Cursive", "cursive";
}

.navbar {
    background: #222831;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}

li {
    float: left;
    list-style-type: none;
}

    li a {
        color: #eee;
        text-decoration: none;
        padding: 10px 20px;
        margin: 2px;
        transition: .5s linear;
        font-size: 17px;
    }

        li a:hover {
            background: #eee;
            color: #222831;
            border-radius: 50px;
        }

.topBar .toggle {
    display: none;
    /* border-radius: 5px; */
}

@media (max-width: 740px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    li {
        float: none;
        margin: 30px;
        animation: slide .5s linear 1;
    }

    @keyframes slide {
        0% {
            transform: translateX(50px);
            opacity: 0;
        }

        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }

    li a {
        font-size: 20px;
    }

    .navMenu {
        background: #161a20;
        width: 100%;
        margin-top: 30px;
        border-radius: 10px;
        display: none;
    }

    .topBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

        .topBar .toggle {
            font-size: 30px;
            display: block;
            color: #eee;
        }
}



/*about me section styling*/
.orange {
    color: #FF7A01;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.container {
    max-width: 1300px;
    margin: 0px auto 0px auto;
    padding: 0px 40px;
}

@media (min-width: 1200px) and (max-width: 1441px) {
    .container {
        max-width: 1250px;
        padding: 0px 36px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0px 30px;
    }
}

@media (max-width: 479px) {
    .container {
        padding: 0px 30px 0px 20px;
    }
}

.about-me {
    padding-top: 50px;
    padding-bottom: 50px;
}

    .about-me .about-me-container {
        position: relative;
    }

@media (max-width: 960px) {
    .about-me .about-me-container {
        padding-bottom: 100px;
    }
}

.about-me .about-me-container .about-me-title {
    font-size: 55px;
    color: #87A4B6;
    font-weight: 700;
}

@media (max-width: 500px) {
    .about-me .about-me-container .about-me-title {
        font-size: 30px;
    }
}

.about-me-flex-container {
    margin-top: -25px;
    margin-left: 150px;
    left: 100px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 960px) {
    .about-me-flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        gap: 50px;
    }
}

@media (max-width: 500px) {
    .about-me-flex-container {
        margin-top: -10px;
    }
}

.about-me-flex-container .about-me-image {
    position: relative;
    width: 400px;
    height: 400px;
}

@media (max-width: 500px) {
    .about-me-flex-container .about-me-image {
        width: 300px;
        height: 300px;
    }
}

.about-me-flex-container .about-me-image .back-div {
    position: absolute;
    bottom: 0;
    z-index: -3;
    background-color: #013747;
    width: 80%;
    height: 80%;
}

.about-me-flex-container .about-me-image .black-image {
    z-index: -2;
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 100%;
}

    .about-me-flex-container .about-me-image .black-image img {
        height: 100%;
    }

.about-me-flex-container .about-me-image .main-image {
    width: 70%;
    height: 70%;
    overflow: hidden;
    position: absolute;
    left: 25%;
    top: 5%;
    box-shadow: rgb(0, 0, 0) 0px 7px 50px 0px;
    transition: all 0.2s ease-out;
}

    .about-me-flex-container .about-me-image .main-image:hover {
        transform-origin: top center;
        transform: scale(1.5);
        border-radius: 25px;
    }

    .about-me-flex-container .about-me-image .main-image img {
        transform-origin: center center;
        transform: scale(2);
        -o-object-fit: cover;
        object-fit: cover;
        transition: all 0.2s ease-out;
    }

        .about-me-flex-container .about-me-image .main-image img:hover {
            transform: scale(1);
        }

.about-me-flex-container .about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex: 0 0 40%;
}

@media (max-width: 960px) {
    .about-me-flex-container .about-me-content {
        flex-direction: row-reverse;
    }
}

.about-me-flex-container .about-me-content .logo {
    max-width: 200px;
}

    .about-me-flex-container .about-me-content .logo img {
        filter: drop-shadow(0 0 25px rgb(0, 0, 0));
    }

@media (max-width: 500px) {
    .about-me-flex-container .about-me-content .logo img {
        transform: rotateZ(90deg);
    }
}

.about-me-flex-container .about-me-content .text {
    color: #87A4B6;
    font-weight: 600;
    font-size: 18px;
}

@media (max-width: 500px) {
    .about-me-flex-container .about-me-content .text {
        font-size: 16px;
    }
}



.mail-button {
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
}

    .mail-button a {
        display: flex;
    }

    .mail-button img {
        -o-object-fit: contain;
        object-fit: contain;
        transition: all 0.2s ease-out;
    }


.mail-button2 {
    background-color: #001925;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 10px solid #001925;
}

    .mail-button2 img {
        filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
    }

    .mail-button2:hover {
        background-color: #FF7A01;
        border: 10px solid #FF7A01;
    }

        .mail-button2:hover img {
            filter: unset;
            transform: scale(1.5);
        }

.portfolio-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .portfolio-link a {
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
    }



/*footer */

.chukabuda-footer {
    height: 200px;
    background-color: #222831;
    padding:40px;
    color: white;
    font-weight:300;
}
.chukabuda-footer>h1,h2,h3,h4,h5,h6{
    font-style:unset;
}
