@model List<Skill>


<link rel="stylesheet" href="~/css/skill.css" />

<div class="container-skillbar">
    @if (User.Identity.IsAuthenticated)
    {
        <a style="margin-bottom:25px;color:white" asp-controller="Skill" asp-action="Create"> <i class="fa-solid fa-plus"> Create Skill</i> </a>
    }
    
    @foreach(var skill in Model)
    {
        <div class="skillbar clearfix " data-percent="85%">
            <div class="skillbar-title" style="background: #970cc1;"><span>@skill.Name</span></div>
            <div class="skillbar-bar one"></div>
            <div class="skill-bar-percent">@skill.ProficiencyLevel%</div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div style="margin-bottom:25px; margin-top:0px">
                <a style="text-decoration:none;color:white" asp-route-id="@skill.Id" asp-action="Edit" asp-controller="Skill">Edit</a>
                <span style="color:white">|</span>
                <a style="text-decoration:none;color:white" asp-route-id="@skill.Id" asp-action="Delete" asp-controller="Skill">Delete</a>
            </div>
        }
    }
</div>
      
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://kit.fontawesome.com/74456a4746.js"
        crossorigin="anonymous"></script>
      